profiles {
    conda.enabled = true
    conda.useMamba = true
    process {
        conda = 'environment.yaml'
    }
    local {
        executor.queueSize = 1
    }
    cluster {
        process {
		    executor = 'sge'
        	withLabel: 'gpu' {
                conda = "CloudPointGPU"
	        }
        }
        executor.queueSize = 500
        executor.submitRateLimit = '10 sec'
    }
}
env {
    PYTHONPATH="$PWD/python/plots:$PWD/python/src"
}
